<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library app</title>
    <link rel="stylesheet" href="/index.css" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
</head>
<body>
    <div id="mainwrap">
        <div class="quote">
            <div class="quote__text">An investment in knowledge pays the best interest</div>
            <div class="quote__author">B. Franklin</div>
        </div>
        <div v-if="selected !== null">
            <div @click="goToSearch()" class="btn--back">
                Back
            </div>
            <h2>{{ selected.name }}</h2>
            <div v-if="selected_data === null">


                <div class="bookshelf_wrapper">
                  <ul class="books_list">
                    <li class="book_item first"></li>
                    <li class="book_item second"></li>
                    <li class="book_item third"></li>
                    <li class="book_item fourth"></li>
                    <li class="book_item fifth"></li>
                    <li class="book_item sixth"></li>
                  </ul>
                  <div class="shelf"></div>
                </div>


            </div>
            <div :style="{ display: (selected_data === null) ? 'none' : 'flex'}" class="charts">
                <canvas id="year-chart" width="400" height="400"></canvas>
                <canvas id="week-chart" width="400" height="400"></canvas>
                <canvas id="year-chart-old" width="400" height="400"></canvas>
                <canvas id="week-chart-old" width="400" height="400"></canvas>
            </div>
        </div>
        <div v-else>
            <div>
                <input type="text" v-model="search" id="search"/>
            </div>
            <div class="search__result-wrap">
                <div v-for="line in results" class="search__result" @click="select(line)">
                    {{ line.name }}
                </div>
            </div>
        </div>
    </div>
    <script src="/index.js"></script>
</body>
</html>
